# dependencies
node_modules/

# environment variables
.env
.env.local
.env.development
.env.test
.env.production

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build output
dist/
build/

# coverage
coverage/

# misc
*.pid
*.seed
*.pid.lock